{% extends 'vacancies/base_template.html' %}

{% block container %}
{% load crispy_forms_tags %}

  <main class="container mt-3">
    <div class="navbar mt-5">
      <p><a href="#" onclick="history.back(); return false;">Назад</a></p>
    </div>
    <section>
      {% if myCompanyExist %}
      <div class="text-center">
        <img src="{{ data_about_company.logo.url }}" width="130" height="80" alt="">
      </div>
      <h1 class="h1 text-center mx-auto mt-0 pt-1" style="font-size: 70px;"><strong>{{ data_about_company.name }}</strong></h1>
      <p class="text-center pt-1">В вашей компании открыто {{ data_about_company.vacancies.count }} вакансий</p>
      <h6 class="mt-4">Сохранить данные компании:</h6>
      <div class="row m-5 text-center" style="margin: 0 auto;">
            {% crispy form %}
      </div>
      {% else %}
      <div class="row mt-5">
        <h1>У вас не создано ни одной компании.</h1>
        <br><br>
        <a href="?createNewCompany" class="btn btn-info">Создать новую компанию</a>
      </div>
      {% endif %}
    </section>
  </main>
{% endblock %}