{% extends 'vacancies/base_template_backend.html' %}

{% block sub_container %}
{% load crispy_forms_tags %}
            <section>
              <h2 class="h4 pt-2 pb-3">{{ data_of_one_vacancy.title }}</h2>
              {% crispy form %}
              <!-- END Vacancy info -->
              <!-- Applications -->
              <h2 class="h4 pt-2 pb-3">Отклики - {{ data_of_one_vacancy.applications.all.count }}</h2>
              {% for application in data_of_one_vacancy.applications.all %}
                <!-- Application -->
                <div class="card mt-3">
                  <div class="card-body px-4">
                    <p class="mb-1 font-weight-bold">{{ application.written_username }}</p>
                    <p class="mb-2"><a href="tel:+{{ application.written_phone }}" class="text-dark">{{ application.written_phone }}</a></p>
                    <p class="mb-1">{{ application.cover_letter }}</p>
                  </div>
                </div>
              <!-- END Application -->
              {% endfor %}
              <!-- END Applications -->
            </section>
{% endblock %}